
[
  {
    "schemaname": "public",
    "tablename": "allowed_emails",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "feedback",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "game_genres",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "game_moods",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "game_notes",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "game_platforms",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "games",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "genres",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "moods",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "platforms",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "playlist_games",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "playlists",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "rawg_genre_mappings",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "rawg_platform_mappings",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "recommendation_history",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "user_games",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "user_preferences",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "user_steam_profiles",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "users",
    "rowsecurity": true
  },
  {
    "schemaname": "public",
    "tablename": "waitlist",
    "rowsecurity": true
  }
]